* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 253, 253);
}

div#ecran {
    height: 700px;
    margin: auto;
}
.logo {
    width: 10rem;
    display: block;
    margin: 0 auto;
}

#recherche {
    display: flex;
    margin-bottom: 5px;
}

#recherche input {
    border-radius: 5px;
}

#tableContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

div.projets {
    display: flex;
    background-color: rgb(162, 230, 171);
    margin: 5px;
    border-radius: 4px;
    flex-direction: column;
    align-items: center;
}

.boutonAjouter{
    background-color: rgb(11, 97, 11);
    color:white;
    width: 95%;
    margin: 0 auto;
    display: block;
}

input.form-control.me-2 {
    width: 300px;
    background-color: rgb(3, 41, 19);
    color: white;
}


/* Page 2 */

#p2_container {
    display: none;
}

button {
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}

button:active {
    transform: translate(1px, 1px);
}

input {
    padding: 0.25rem;
}

#p2_container {
    max-width: 500px;
    padding: 0.5rem;
    margin: 0 auto;
    border: 1px solid black;
}

#p2_container>div {
    margin: 1rem 0;
}

#p2_bouton_retour {
    background: rgb(235, 235, 82);
}

.p2_logo {
    width: 10rem;
    margin: -50px auto 0;
    display: block;
}

.p2_informations {
    background: rgb(217, 217, 217);
    padding: 0.5rem;
}

.p2_informations>div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.p2_informations>div>p {
    display: inline;
}

#p2_bouton_sauvegarder {
    background: green;
    color: rgb(217, 217, 217);
    margin-left: auto;
    display: block;
}

.p2_puissance {
    background: rgb(217, 217, 217);
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
}

.p2_pieces {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    cursor: pointer;
}

.p2_pieces>div {
    background: rgb(217, 217, 217);
    width: 82.5%;
    text-align: center;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.p2_pieces>div:active {
    transform: translate(1px, 1px);
}

.p2_pieces button {
    width: 15%;
    background: red;
    padding: 0;
}

/* Page 3 */

/********************************************************************************************************/
/********************************************** Page pièce **********************************************/
/********************************************************************************************************/
#logo {
    max-width: 100%;
}

#piece #btnRetour img,
#piece #btnAccueil img {
    height: 60px;
    width: 60px;
    max-width: 100%;
}

#piece .btnNav {
    display: flex;
    justify-content: space-around;
}

#piece .btnNav img{
margin: 0;
}

#piece button {
    background-color: transparent;
    border: none;
}

#piece select {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
}

#piece .infosContainer {
    display: grid;
    grid-gap: 10px;
}

#piece .infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    font-size: 16px;
    align-items: center;
}

#piece .infos input {
    height: 24px;
}

#piece h2 {
    text-align: center;
}

#piece span {
    font-size: 30px;
}

#piece .puissance {
    margin-top: 20px;
    border: 2px solid #1100ff;
}

#piece .valider {
    background-color: rgb(11, 97, 11);
    color:white;
    width: 95%;
    margin: 4px auto;
    display: block;
    border-radius: 5px;
}